springxoxo/src/main/resources/META-INF/beecho.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.springxoxo.com/schema/beecho"
        elementFormDefault="qualified">

    <element name="xxoo">
        <complexType>
            <attribute name="id" type="string" />
            <attribute name="userName" type="string" />
            <attribute name="email" type="string" />
        </complexType>
    </element>

    <element name="application">
        <complexType>
            <attribute name="id" type="string" />
            <attribute name="name" type="string" />
            <attribute name="owner" type="string" />
            <attribute name="organization" type="string" />
        </complexType>
    </element>

    <element name="protocol">
        <complexType>
            <attribute name="id" type="string" />
            <attribute name="name" type="string" />
            <attribute name="port" type="int" />
            <attribute name="host" type="string" />
            <attribute name="threadpool" type="string" />
            <attribute name="threads" type="int" />
            <attribute name="iothreads" type="int" />
            <attribute name="accepts" type="int" />
            <attribute name="payload" type="int" />
            <attribute name="codec" type="string" />
            <attribute name="serialization" type="string" />
            <attribute name="accesslog" type="boolean" />
            <attribute name="dispatcher" type="string" />
            <attribute name="queues" type="int" />
            <attribute name="buffer" type="int" />
        </complexType>
    </element>

    <element name="reference">
        <complexType>
            <attribute name="id" type="string" />
            <attribute name="service" type="string" />
            <attribute name="group" type="string" />
            <attribute name="check" type="boolean" />
            <attribute name="retries" type="int" />
            <attribute name="cluster" type="string" />
            <attribute name="loadbalance" type="string" />
            <attribute name="version" type="int" />
            <attribute name="timeout" type="int" />
            <attribute name="connections" type="int" />
            <attribute name="url" type="string" />
            <attribute name="owner" type="string" />
            <attribute name="actives" type="int" />
        </complexType>
    </element>

    <element name="registry">
        <complexType>
            <attribute name="id" type="string" />
            <attribute name="address" type="string" />
            <attribute name="username" type="string" />
            <attribute name="password" type="string" />
            <attribute name="timeout" type="int" />
            <attribute name="session" type="int" />
            <attribute name="check" type="boolean" />
            <attribute name="protocol" type="string" />
        </complexType>
    </element>

    <element name="service">
        <complexType>
            <attribute name="id" type="string" />
            <attribute name="service" type="string" />
            <attribute name="ref" type="string" />
            <attribute name="protocol" type="string" />
            <attribute name="group" type="string" />

            <attribute name="cluster" type="string" />
            <attribute name="retries" type="int" />
            <attribute name="loadbalance" type="string" />
            <attribute name="version" type="string" />
            <attribute name="delay" type="int" />

            <attribute name="timeout" type="int" />
            <attribute name="connections" type="int" />
            <attribute name="token" type="string" />
            <attribute name="deprecated" type="boolean" />
            <attribute name="accesslog" type="boolean" />
            <attribute name="owner" type="string" />
            <attribute name="document" type="boolean" />
            <attribute name="weight" type="int" />
            <attribute name="executes" type="int" />
            <attribute name="actives" type="int" />
            <attribute name="filter" type="string" />
            <attribute name="listener" type="string" />
        </complexType>
    </element>
</schema>